
.hi {
  background-color: rgba(16, 0, 241, 0.3);
  padding: 3px;
  margin: 20px;
  box-shadow: 5px;
  border-radius: 0.6em;
  border: rgba(16, 0, 241) 3px solid;
  height: auto;
}

.center{
  text-align: center;
  margin: 0 auto;
  display: block;
}

.whitetext {
  color: white;
}

.pict {
  padding: 5px;
  position: relative;
}

.pict img {
  width: 60%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.direction {
  direction: rtl;
  text-align: right;
}

@media screen and (max-width: 800px) {

  .pict {
   display: none;
  }
}