.teachersbg {
  position: relative;
  background: url('../img/coursebg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh; 
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
  height: auto;
  background-attachment: fixed;
}